<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WUM quiz - strona główna</title>
</head>
<body>
    <div class="hello-section">
        <h1>WUM quiz</h1>
        <p>Znalazłeś się na stronie pozwalającej przećwiczyć znajomość bakterii i grzybów przed egzaminem.</p>
    </div>
    <div class="naviagation">
    <a href="/rand_element?what=category">Losuj kategorię</a>
    <a href="/rand_element?what=element">Losuj bakterię lub grzyba</a>
    <a href="/list_everything">Pokaż bazę bakteri i grzybów</a>
    </div>

</body>
</html>