<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WUM quiz - Lista wszystkich rekordów</title>
</head>
<body>
<h2>Lista wszystkich dostępnych rekordów</h2>
<!-- TODO Rebuild this to gain real data -->
<div class="all-elements-list">
    <div class="list-category-type">
        ENTEROBACTERIACEAE
        <p class="list-category">
            Escherichia
        </p>
        <p class="list-element">
            E. coli
        </p>
        <p class="list-category">
            Escherichia
        </p>
        <p class="list-element">
            S. enterica subsp. enterica
        </p>

        <div class="list-element-type">
            Serowary
        <p class="list-element">
            S. Enteritidis
        </p>
        <p class="list-element">
            S. Typhi
        </p>
        <p class="list-element">
            S. Paratyphi
        </p>
        <p class="list-element">
            S, Typhimurium
        </p>
        </div>
    </div>

</div>

<div class="navigation">
    <a href="/">< Wróć</a>
</div>
</body>
</html>