{% extends "bootstrap/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}WUM quiz - Lista wszystkich rekordów{% endblock %}
</head>
<body>
{% block content %}
    <div class="container">
        <h2>Lista wszystkich dostępnych rekordów</h2>
        <!-- TODO Rebuild this to gain real data -->
        <h2> STRONA W BUDOWIE - Dane poniższe nie są pełne</h2>
        <div class="all-elements-list">
            <div class="list-category-type">
                ENTEROBACTERIACEAE
                <p class="list-category">
                    Escherichia
                </p>
                <p class="list-element">
                    E. coli
                </p>
                <p class="list-category">
                    Escherichia
                </p>
                <p class="list-element">
                    S. enterica subsp. enterica
                </p>

                <div class="list-element-type">
                    Serowary
                <p class="list-element">
                    S. Enteritidis
                </p>
                <p class="list-element">
                    S. Typhi
                </p>
                <p class="list-element">
                    S. Paratyphi
                </p>
                <p class="list-element">
                    S, Typhimurium
                </p>
                </div>
            </div>

        </div>

        <div class="navigation">
            <a class="btn btn-primary" href="/">< Wróć</a>
        </div>
    </div>
{% endblock %}
</body>
</html>