<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WUM quiz - Wylosowany element</title>
</head>
<body>
<h2>Twoja fiszka</h2>
<div class="fiche">
    <div class="fiche-value">
        {% if randed_values.selected == 'category' %}
            Podaj wszystkie elementy dla kategorii
        {% endif %}
        {% if randed_values.selected == 'element' %}
            Podaj nazwę kategorii dla następującego elementu
        {% endif %}
        {{randed_values.fiche_main.name}}
    </div>
    <div id="fiche-answer" style="display: none;">
        {% for answer in randed_values.fiche_hidden %}
            {{answer.name}} </br>
        {% endfor %}
    </div>
    <button type="button" onclick="show_answer()">Pokaż odpowiedź</button>
</div>
<div class="navigation">
    <a href="/">< Wróć</a>
    <a href="rand_element?what={{randed_values.selected}}"> Losuj nową fiszkę</a>
</div>
</body>
<script>
    function show_answer() {
        document.getElementById('fiche-answer').style.display = '';
    }
</script>
</html>